<div class="app-logo">
  <img width="100" height="100" src="https://webassets.unt.edu/unt-foundation/images/unt-1890-banner.svg" />
  <div class="app-header">
    <h1>Image Classfication</h1>
  </div>
</div>
<br />
<br />
<div class="app-center">
  <h4>
    {{title}}
  </h4>

  <div class="cont d-flex justify-content-center align-items-center flex-column">

    <div class="custom-file">
      <input type="file" class="custom-file-input" (change)="fileChange($event)">
      <br />
    </div>
    <br />

    <img [src]="imageUrl" height="400" *ngIf="imageUrl">

    <br />
    <div *ngIf="imageUrl">
      <button (click)="onClickPredict($event)">Predict</button>
      <br />
      <br />
      <div class="bold-font">Prediction:</div>
      <div>{{class_names[prediction_index]}}</div>
    </div>
  </div>
  <div *ngIf="loading">
    <img src="./assets/ajax-loader.gif">
  </div>

</div>